 h1{
    text-align: center;
    background-color: rgb(138, 133, 133);
}
table{
    width: 80%;
    margin: 40px auto;
    background: linear-gradient(90deg, rgb(110, 229, 114) 0%, rgba(49, 220, 255, 1) 100%);
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 1px solid rgb(4, 23, 20);
    text-align: left;
    padding: 8px 15px;
}
tr:nth-child(even), table.list thread> tr{
    background-color: rgb(235, 223, 223);
}

input[type="text"],input[type="email"],input[type="url"]{
    width: 91%;
    padding: 12px  20px;
    margin: 8px 5 10px;
    display:inline-block;
    border: 1px solid rgb(114, 120, 129);
    border-radius: 22px;

}
input[type="submit"],input[type="reset"]{
    background: #e97676;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display:inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: #729d96;
}
input[type="reset"]:hover{
    background: #708e8a;
}
button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display:inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button:hover{
    background: #4b998b;
}
tbody {	
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    	
  }	

  .bod{
    background-color: #4a4949;
  }